<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mongoosii</h1>
	<% for(var i = 0; i < mongoosii.length; i++){%>
		<p><b>#<%= i+1%></b></p>
		<p>Name: <%=mongoosii[i].name%></p>
		<p>Hiearchy: <%=mongoosii[i].hiearchy%></p>
		<p>Level: <%=mongoosii[i].level%></p>
		<button><a href='/destroy/<%=mongoosii[i]._id%>'> Kill!</a></button>
		<hr>
	<%}%>
</body>
</html>